<main>
    <div class="container">
      <h3 class="mb-3">Supa Chat 
        <button (click)="logOut()" class="btn btn-secondary" style="float: right;">Logout</button>
      </h3>
      <div class="d-flex flex-column gap-5 flex-md-row">

      
        <app-channel-list (eventshowChannelForm)="handleShowChannelForm()"></app-channel-list>
        <app-chats *ngIf="!showForm" class="flex-grow-1"></app-chats>
        <app-channel-form *ngIf="showForm" class="flex-grow-1"></app-channel-form>
      </div>
    </div>
  </main>

