
<div class="card" style="width: 18rem;">
    <div class="card-header d-flex align-items-center">
      Channels
      <button (click)="showChannelForm()" class="btn btn-secondary ms-auto">+</button>
    </div>
    <ul class="list-group list-group-flush listChannels">
        @for (channel of channels$(); track channel){
            <li (click)="updateSelectedChannel(channel.id)" role="button" class="list-group-item" 
            [ngClass]="{'active': selectedChannel$() === channel.id}">{{channel?.name}}
              <span class="badge text-bg-info" *ngIf="(unreadMessages$()[channel.id] || 0)>0">{{unreadMessages$()[channel.id]}}</span>
            </li>
        }
    </ul>
  </div>