/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 20px;
    height: 100vh; 
    
  }

  * {
    box-sizing: border-box;
    max-height: 100%;
  }

:root {
  --bs-blue: #EEA83B; 
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #DD8E58;
  --bs-btn-border-color: #DD8E58;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #708A81;
  --bs-btn-hover-border-color: #708A81;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #708A81;
  --bs-btn-border-color: #708A81;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #56766b;
  --bs-btn-hover-border-color: #56766b;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #56766b;
  --bs-btn-active-border-color: #56766b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #56766b;
  --bs-btn-disabled-border-color: #56766b;
}